.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../imgs/banner-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: #fff;
}

.banner h2 {
    text-align: center;
    padding: 20px;
}